<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
        th:with="title=${title}">
    <body>
        <div layout:fragment="content">
            <div class="container">
                <div class="row mb-5">
                    <h1 class="me-2" th:text="${title}"></h1>
                </div>
                <form th:action="@{/institutions}" method="POST" th:object="${institution}">
                    <div class="row">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="col-md-4">
                            <label class="col-sm-2 col-form-label">Nome</label>
                            <input type="text" class="form-control" required th:field="*{name}" id="name" name="name">
                            <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}" class="alert alert-danger" />
                        </div>
                        <div class="col-md-4">
                            <label class="col-sm-2 col-form-label">Abreviação</label>
                            <input type="text" class="form-control" required th:field="*{shortName}" id="shortName" name="shortName">
                            <p th:if="${#fields.hasErrors('shortName')}" th:errorclass="error" th:errors="*{shortName}" class="alert alert-danger" />
                        </div>
                        <div class="col-md-4">
                            <label class="col-sm-2 col-form-label">Período</label>
                            <select class="form-select" aria-label="Default select example" th:field="*{currentSemester}" id="currentSemester" name="currentSemester">
                                <option selected value="">Selecione...</option>
                                <option th:each="semester : *{semesters}" th:value="${semester.id}" th:label="${semester.description}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-secondary" style="margin-right: 20px" th:href="@{/institutions/list}">Cancel</a>
                            <button class="btn btn-success" type="submit" value="Save">Salvar</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </body>

</html>