<!doctype html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
<head th:replace="~{/fragments/head :: content(title='Institutions')}"></head>


<body class="container">
<div class="row mt-5">
  <div class="col-10">
    <h1>Gestao de instituçoes</h1>
  </div>

  <div class="col-2">
    <form th:action="@{/institutions/form}" method="GET">
      <button class="btn btn-primary" type="submit">Cadastrar nova instituçao</button>
    </form>
  </div>
</div>

<div class="row" th:if="${message}">
  <div class="col-12" id="notice">
    <div class="alert alert-success">
      <div th:text="${message}"></div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-12">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Abreviaçao</th>
        <th scope="col">Semestre atual</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="institution : ${institutions}">
        <th scope="row" th:text="${institution.name}"></th>
        <td th:text="${institution.shortName}"></td>
        <td th:text="${institution.semesters.size() == 0 ? 'Não cadastrado' : institution.currentSemester.description}"></td>
        <td><a th:href="@{/institutions/{id}/edit(id=${institution.id})}">Edit</a></td>
        <td><a th:href="@{/institutions/{id}/delete(id=${institution.id})}">Remove</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>

</html>