<!doctype html>
<html lang="pt_BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Athena - Enrollment Status Form</title>
</head>

<body>
<h1 class="mb-3">Enrollment Status Registration</h1>

<div th:text="${message}" style="color: red"></div>

<form th:action="@{/enrollments}" method="POST" th:object="${enrollmentStatus}">
    <input type="hidden" th:field="*{id}"/>
    <label for="observation">Observation:</label>
    <input type="text" th:field="*{observation}" id="observation" name="observation"><br><br>

    <label for="semester">Semester:</label>
    <select th:field="*{semester}" id="semester" name="semester">
        <option value="">Select a semester</option>
        <option th:each="semester : ${semestersItems}" th:value="${semester.id}" th:label="${semester.endsAt}"></option>
    </select><br><br>

    <label for="student">Student:</label>
    <select th:field="*{student}" id="student" name="student">
        <option value="">Select a student</option>
        <option th:each="student : ${studentsItems}" th:value="${student.id}" th:label="${student.name}"></option>
    </select><br><br>

    <button type="submit">Save</button>
    <a th:href="@{/enrollments/list}">Cancel</a>
</form>
</body>

</html>
