<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
        th:with="title=${title}">
    <body>
        <div layout:fragment="content">
            <div class="container">
                <div class="row">
                    <div class="col-md d-flex">
                        <h1 class="me-2" th:text="${title}"></h1>
                        <h1 class="me-2" th:if="${nDaysAfter} != null" th:text="${nDaysAfter}"></h1>
                        <h1 th:if="${nDaysAfter} != null">dias</h1>
                    </div>
                    <div class="col-md-3 ml-auto d-flex justify-content-end align-items-center">
                        <form th:action="@{/enrollments/form}" method="GET">
                            <button class="btn btn-dark" type="submit">Nova declaração</button>
                        </form>
                    </div>
                </div>

                <div th:if="${nDaysAfter} != null">
                    <form class="d-flex align-items-end" th:action="@{/enrollments/list/deadline}" th:method="post">
                        <div class="me-4">
                            <label>Personalize o prazo de vencimento</label>
                            <input type="text" class="form-control" required id="nDaysAfter" name="nDaysAfter">
                        </div>
                        <button type="submit" class="btn btn-outline-dark">Redefinir prazo</button>
                    </form>
                </div>

                <div class="row mt-5">
                    <div>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Observação</th>
                                <th>Data de emissão</th>
                                <th>Período</th>
                                <th>Estudante</th>
                                <th>Instituição</th>
                                <th>Download</th>
                                <th colspan="2"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="enrollmentStatus : ${enrollmentStatusList}">
                                <td th:text="${enrollmentStatus.observation}"></td>
                                <td th:text="${#temporals.format(enrollmentStatus.receivingDate, 'dd/MM/yyyy')}"></td>
                                <td th:text="${enrollmentStatus.semester.description}"></td>
                                <td th:text="${enrollmentStatus.student.name}"></td>
                                <td th:text="${enrollmentStatus.semester.institution.name}"></td>
                                <td>
                                    <a th:if="${enrollmentStatus.document != null}" th:href="@{${enrollmentStatus.document.url}}">Baixar arquivo</a>
                                </td>
                                <td style="width: 1px"><a class="border-0 bg-transparent" th:href="@{/enrollments/{id}/edit(id=${enrollmentStatus.id})}"><i class="bi bi-pencil-fill" style="color:#212529"></i></a></td>
                                <td><a th:href="@{/enrollments/{id}/delete(id=${enrollmentStatus.id})}"><i class="bi bi-trash-fill" style="color:#dc3545"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- Paginator -->
                        <div th:replace="~{fragments/paging :: paginator('.' + ${#strings.substring(#httpServletRequest.requestURI, 7)}, ${navPage})}" />
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>