<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container-fluid">
            <img th:src="@{/img/logo.jpeg}" class="ms-4 me-2" width="30px"/>
            <a class="navbar-brand border-0 bg-transparent" th:href="@{/home}"><strong>Athena</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <form th:action="@{/institutions/list}" method="GET">
                            <button class="nav-link active border-0 bg-transparent">Instituições</button>
                        </form>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <form th:action="@{/students/list}" method="GET">
                            <button class="nav-link active border-0 bg-transparent">Estudantes</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/enrollments/list}" method="GET">
                            <button class="nav-link active border-0 bg-transparent">Declarações</button>
                        </form>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <form th:action="@{/semesters/list}" method="GET">
                            <button class="nav-link active border-0 bg-transparent">Períodos</button>
                        </form>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Relatórios
                        </a>
                        <ul class="dropdown-menu" style="width: 200px" aria-labelledby="navbarDropdown">
                            <li>
                                <form th:action="@{/enrollments/list/overdue}" method="GET">
                                    <button class="dropdown-item">Declarações vencidas</button>
                                </form>
                            </li>
                            <li>
                                <form th:action="@{/enrollments/list/deadline/10}" method="GET">
                                    <button class="dropdown-item">Declarações a vencer</button>
                                </form>
                            </li>
                            <li>
                                <form th:action="@{/students/list/withoutEnrollment}" method="GET">
                                    <button class="dropdown-item">Alunos sem declaração</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span th:text="${#httpServletRequest.remoteUser}" style="text-transform: capitalize"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li sec:authorize="hasRole('ALUNO')">
                                <a class="dropdown-item">
                                    Meu perfil (a implementar)
                                </a>
                            </li>
                            <li><a class="dropdown-item" th:href="@{/auth/logout}">Sair</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</div>

