<!doctype html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
<head>
    <title>Athena - Semester List</title>
</head>
<body>
<h1 class="mb-3">Semester List</h1>
<table>
    <thead>
    <tr>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Institution</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="semester : ${semesters}">
        <td th:text="${semester.description}"></td>
        <td th:text="${#temporals.format(semester.startsAt, 'dd/MM/yyyy')}"></td>
<!--        <td th:text="${semester.startsAt}"></td>-->
        <td th:text="${#temporals.format(semester.endsAt, 'dd/MM/yyyy')}"></td>
<!--        <td th:text="${semester.endsAt}"></td>-->
        <td th:text="${semester.institution.name}"></td>
        <td><a th:href="@{/semesters/{id}/edit(id=${semester.id})}">Edit</a></td>
        <td><a th:href="@{/semesters/{id}/delete(id=${semester.id})}">Remove</a></td>
    </tr>
    </tbody>
</table>
<br>
<a th:href="@{/semesters/form}" class="btn btn-primary">Add Semester</a>
</body>
</html>