<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
        th:with="title='Novo Estudante'">
    <body>
        <div layout:fragment="content">
            <div class="container">
                <div class="row mb-5">
                    <h1>Cadastro de estudante</h1>
                </div>
                <form th:action="@{/students}" method="POST" th:object="${student}">
                    <div class="row">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="col-md-4">
                            <label class="col-sm-2 col-form-label">Nome</label>
                            <input type="text" class="form-control" required th:field="*{name}" id="name" name="name">
                            <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}" class="alert alert-danger" />
                        </div>
                        <div class="col-md-4">
                            <label class="col-sm-2 col-form-label">Matrícula</label>
                            <input type="text" class="form-control" required th:field="*{registrationCode}" id="reg_code" name="reg_code">
                            <p th:if="${#fields.hasErrors('registrationCode')}" th:errorclass="error" th:errors="*{registrationCode}" class="alert alert-danger" />
                        </div>
                        <div class="col-md-4">
                            <label class="col-sm-2 col-form-label">Usuário</label>
                            <input type="text" class="form-control" required th:field="*{user.username}" id="username" name="username">
                            <p th:if="${#fields.hasErrors('user.username')}" th:errorclass="error" th:errors="*{user.username}" class="alert alert-danger" />
                        </div>
                        <div class="col-md-4">
                            <label class="col-sm-2 col-form-label">Senha</label>
                            <input type="text" class="form-control" required th:field="*{user.password}" id="password" name="password">
                            <p th:if="${#fields.hasErrors('user.password')}" th:errorclass="error" th:errors="*{user.password}" class="alert alert-danger" />
                        </div>
                        <div class="col-md-4">
                            <label class="col-sm-2 col-form-label">Instituição</label>
                            <select class="form-select" required aria-label="Default select example" th:field="*{institution}" id="institution" name="institution">
                                <option selected value="">Selecione...</option>
                                <option th:each="institution : ${institutionsItems}" th:value="${institution.id}" th:label="${institution.name}"></option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="col-sm-2 col-form-label">Declaração</label>
                            <select class="form-select" aria-label="Default select example" th:field="*{currentEnrollmentStatus}" id="currentEnrollmentStatus" name="currentEnrollmentStatus">
                                <option selected value="">Selecione...</option>
                                <option th:each="enrollment : *{enrollmentStatuses}" th:value="${enrollment.id}" th:label="${enrollment.semester.description}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-secondary" style="margin-right: 20px" th:href="@{/students/list}">Cancel</a>
                            <button class="btn btn-success" type="submit" value="Save">Salvar</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </body>

</html>